.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    align-items: center;
}

.explore-menu h1 {
    color: #262626;
    font-weight: 500;
}

.explore-menu-text {
    max-width: 60%;
    color: #808080;
    text-align: center;
}

.explore-menu-list {
    display: flex;
    justify-content: center;  /* Center images */
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    width: fit-content;  /* Ensures the container only takes the required space */
}


/* Hide scrollbar for Chrome, Safari */
.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

/* Active Image Styling */
.explore-menu-list-item img.active {
    border: 4px solid tomato;
    padding: 2px;
}

.explore-menu hr {
    width: 80%;
    border: 1px solid #747474;
}
@media (max-width: 1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}