.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 12px);
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #000;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px 0px 0px 3px;
    transition: all 0.3s ease-in-out;
}

.sidebar-option:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    background-color: #f5f5f5;
}
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width: 900px) {
    .sidebar-option p{
        display: none;
    }
}